
a:link {color:#fff017;} /* sets normal link color */
a:visited {color:#CC33CC;} /* sets visited link color */
a:active {color:#3dcfd4;} /* sets active link color */

.header {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}
