---
---

/* Background Color */
body { background:#bff5ff; }
/* Banner Color */
#banner { background:#b06873; }
/* Container Border */
#container {
border: 12px solid #B22222;
border-radius: 10px;
margin-top: 15px;
margin-bottom: 15px;
}
#container { width: 100%; }

#banner-inner, #pagebody-inner, #nav-inner, #footer-inner { 
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	}

body, #banner, #footer, #footer a, #footer a:hover { background: #FAFAD2; }

#banner { height: auto;}
#banner-inner { 
	position: relative; 
	top: 0;
	padding: 10px 0px;
	background: transparent;
	border: 0;
}
	
/* Nav Bar Color */ 
#nav, #nav-inner, .nav-list, .nav-list-item a, .nav-list-item a:hover {
	background-color: #fff;
	color: #333;
	}

/* Nav Bar Color */ 
#nav, #footer {
	border-top: 4px double #ddd;
	border-bottom: 4px double #ddd;
	}


#banner-header, #banner-description {
	margin-left: 10px;
	}
